/* =============
    Typography
============= */

body {
    font-family: 'Nunito', sans-serif;
    color: #394801;
}

h1, h2, h3, h4, h5 {
    font-family: 'Nunito', sans-serif;
    color: #394801;
}

p {
    font-family: 'Nunito', sans-serif;
    color: #394801;
}