/* =============
    Section-3
============= */

#section-3 {
    background-color: #E4EBCB;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    >#section-3-first {
        >h2 {
            text-align: center;
        }
    }

    >#section-3-middle {
        position: center;
    }
}