/* =============
    Header
============= */

header {
    background-color: #7D9917;
    width: 100%;
    position: fixed;
    top: 0;

    >#green-area {
        height: 153px;

        >#logo-container {
            >#logo {
                width: 150px;
                padding: 20px;
            }
        }

        >#littlenav-container {
            position: absolute;
            right: 0;
            top: 0;
            width: 300px;
            background-color: white;
            padding: 20px;

            >ul {
                li {
                    display: inline;
                    padding: 14px;
                    position: center;
                }

                li:hover {
                    background: #E4EBCB;
                  }
            }
        }
    }


    >#nav-container {
        width: 100%;
        background: white;
        display: flex;
        overflow: hidden;
        height: 51px;
        background-color: white;
        
        >ul {
            width: 100%;
            margin: 0 auto;
	        padding: 0;
	        list-style: none;
            
            >li {
                margin: 0;
	            padding: 0;
                float: left;
	            position: relative;
                height: 29px;
                display: inline-block;
                padding: 8px 35px;

                >a {
                    color: #394801;
                    display: block;
                    padding: 8px 50px;
                    text-align: center;
                    text-decoration: none;
                    -webkit-transition: all .25s ease;
                    -moz-transition: all .25s ease;
                    -ms-transition: all .25s ease;
                    -o-transition: all .25s ease;
                    transition: all .25s ease;
                  }
            }
            li:hover a {
                background: #E4EBCB;
              }
        }
    }
}